<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Video Upload/Edit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <form #videoForm="ngForm">
                <div class="form-group">
                    <label for="title">Video Title</label>
                    <input [(ngModel)]="model.title" type="text" class="form-control" id="title" placeholder="Title" name="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea [(ngModel)]="model.description" rows="4" class="form-control" cols="" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="videoFile">File input</label>
                    <input [(ngModel)]="model.file" (ngModelChange)="onChange($event)" type="file" id="videoFile" name="videoFile" name="file">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <button type="button" (click)="onSubmit()" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col-md-5">
            <div class="row">
                <p>
                    Title: {{model.title}}
                </p>
                <p>
                    Description: {{model.description}}
                </p>
                <p>
                    File: {{model.file.name}}
                </p>
            </div>
        </div>
    </div>
</div>