.user {
    float: right;
    margin-left: 10px;
}

.user img {
    width: 35px;
    border-radius: 3px;
}

.user p {
    margin: 0 0 0 5px;
    float: right;
    color: #fff;
    line-height: 17px;
}

.flat-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}