<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="videoSrc"></iframe>
</div>
<h3>{{video.title}}</h3>
<div class="rating float-right">
    <div class="stats" *ngIf="video.stats">
        <div class="views">
            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
            <span class="glyphicon-class">{{video.stats.views}} views</span>
        </div>
        <div class="like">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <span class="glyphicon-class">{{video.stats.likes}}</span>
        </div>
        <div class="like float-right">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <span class="glyphicon-class">{{video.stats.dislikes}}</span>
        </div>
        <div class="comments" *ngIf="video.stats.comments > 0">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span class="glyphicon-class">{{video.stats.comments}} comments</span>
        </div>
    </div>
</div>
<div class="commentsWrap">
    <div *ngFor="let comment of video.comments; let i = index">
        <p>{{comment.displayText}}</p>
        <div class="commentReply" *ngIf="comment.replies">
            <p *ngFor="let reply of comment.replies">
                {{reply.displayText}}
            </p>
        </div>
    </div>
</div>