<hr>
<div class="row">
    <div class="col-md-7">
        <bb-video *ngIf='selectedVideo' [video]='selectedVideo' [videoSrc]='selectedVideoSrc'></bb-video>
    </div>
    <div class="col-md-5">
        <div class="list-group">
            <bb-video-list-item *ngFor="let video of videos; let i = index;" (selected)="onSelection(i);" [activeIndex]='activeIndex' [video]='video' [itemId]='i'></bb-video-list-item>
        </div>
        <button class="btn btn-primary" type="button" (click)="loadMore()">Load more </button>
    </div>